<!--  card de entrega -->
<div class="entrega-card">
  <div class="entrega-header">
    <div class="entrega-info">
      <!--interpolação {{ }} para mostrar os dados da entrega -->
      <h3>{{ entrega.tipo }}</h3>
      <p class="ent-desc">{{ entrega.desc }}</p>
    </div>
    <!-- [ngClass] adiciona a classe CSS dinamicamente com base no status -->
    <span class="status" [ngClass]="entrega.status">{{ entrega.status }}</span>
  </div>

  <div class="entrega-body">
    <div class="ent-item"><b>Apartamento: {{ entrega.apto }}</b></div>
    <div class="ent-item"><b>Morador: {{ entrega.morador }}</b></div>
    <div class="ent-item">Data: {{ entrega.data }}</div>
    <div class="ent-item remetente">Remetente: {{ entrega.remetente }}</div>
  </div> 

  @if (entrega.status === 'pendente') {
    <button class="btn btn-azul" (click)="onNotificarClick()">Notificar Morador</button>
  }
  @if (entrega.status === 'notificado') {
    <button class="btn btn-verde" (click)="onRetirarClick()">Marcar como Retirado</button>
  }
</div>
